$break-tablet: 768px;
$break-medium: 1024px;
$white: #fff;
$black: #000;
$whiteTransparent: rgba($color: #fff, $alpha: 0.75);
$blackTransparent: rgba($color: #000, $alpha: 0.75);
$whiteTransparenter: rgba($color: #fff, $alpha: 0.2);
$blackTransparenter: rgba($color: #000, $alpha: 0.5);
$greyDark: #222;
$grey: #ccc;
$greyLight: #ddd;
$purple: #811EB3;
$red: #dd0000;

$containerWidth: 1400px;
$containerPadding: 5rem;
$containerPaddingVm: 2rem;

$boxShadow: 0 2px 5px rgba(0, 0, 0, 0.2);


$ff: 'Roboto', Arial, Helvetica, sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    overflow-x: clip;
    overflow-y: auto;
    min-width: 100vw;
    min-height: 100vh;
    background: $white;
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: $ff;
    position: relative;

    &.is-map-clickable {
        &::after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $blackTransparent;
        }

        .map-container,
        .btn--coords {
            z-index: 1000;
        }


    }
}

.hide-vm {
    @media screen and (max-width: $break-tablet) {
        display: none;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: $containerWidth;
    padding: 0 $containerPadding;
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media screen and (max-width: $break-medium) {
        padding: 0 $containerPaddingVm;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.map-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: calc(100vh - 20rem);
    aspect-ratio: 1920 / 1080;
    margin-top: 2rem;


    #map {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: unset;
        min-height: unset;
        cursor: pointer;
    }


    .leaflet-popup-content {
        font-size: 1.6rem;
    }

}

.range-slider {
    position: relative;
    width: 100%;
    max-width: 30rem;
    margin: 4rem 0 2rem;

    input[type="range"] {
        -webkit-appearance: none; // Supprime le style par défaut
        width: 100%;
        height: 0.8rem;
        background-color: $greyLight;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 2rem;
            height: 2rem;
            background: $purple;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid $white;
        }

        &::-moz-range-thumb {
            width: 2rem;
            height: 2rem;
            background: $purple;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid $white;
            box-shadow: $boxShadow;
        }

        &::-ms-thumb {
            width: 2rem;
            height: 2rem;
            background: $purple;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid $white;
            box-shadow: $boxShadow;
        }

        &:hover {
            background: $grey;
        }
    }

    .input-radius-value {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        background: $purple;
        color: $white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        white-space: nowrap;
        pointer-events: none;
    }
}

.btn {
    border-radius: 5px;
    background: $purple;
    padding: 1rem;
    width: fit-content;
    cursor: pointer;
    border: 2px solid $purple;
    box-shadow: $boxShadow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    @media screen and (max-width: $break-medium) {
        width: 100%;
    }

    span {
        color: $white;
        text-align: center;
    }

    &--secondary {
        background-color: $white;

        span {
            color: $purple;
        }
    }

    &--wide {
        width: 100%;
        max-width: 30rem;
        grid-column: 1 / 3;

        @media screen and (max-width: $break-medium) {
            max-width: unset;
        }
    }
}

.btn-group {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

    @media screen and (max-width: $break-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.error {
    color: $red;
    margin-top: 2rem;
}



.loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blackTransparenter;
    pointer-events: none;
    z-index: 1000;

    &.active {
        display: block;
    }

    &:before {
        content: '';
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 100%;
        background-color: transparent;
        border: 1.6rem solid $whiteTransparenter;
        border-top-color: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        animation: 0.5s loader linear infinite;
    }

    @keyframes loader {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}

.rayon-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 0.5rem;

}

.coordinates-container {
    margin-top: 1rem;
}